@using System.Security.Claims
@using Whatsapp.AppCode.Extensions
@using Whatsapp.Models.Data;
@model IEnumerable<WhatsappUser>
@{
    string LoggedInUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@if (Model != null && Model.Any())
{
    int i = 1;
    @foreach (var item in Model)
    {
        if (item.Id != 1)
        {
            <tr>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a onclick="UpdateUserBalanceFromAdmin(@item.Id)" class="customLink">
                        @item.UserBalance
                    </a>
                </td>
                <td>
                    <button onclick="RenderForm(@item.Id)" class="btn btn-primary btn-sm editbtn">
                        <i class="fa fa-edit"></i>
                    </button>
                    <a href="/UserManagement/Delete/@item.Id" onclick="ajaxDelete(this)" class="btn btn-danger btn-sm deletbtn">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>

            i++;
        }
    }

}
else
{
    <tr>
        <td colspan="3">No Records Found</td>
    </tr>
}