@using Whatsapp.Models.Data;
@model IEnumerable<MasterPackage>
@if (Model != null && Model.Any())
{
    int i = 1;
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidityInDays)
            </td>
            <td>
                @if (item.Status.Equals("1"))
                {
                    <label class="badge badge-success badge-pill">Approved</label>
                }
                else
                {
                    <label class="badge badge-danger badge-pill">Pending</label>
                }
            </td>
            <td>
                <button onclick="RenderForm(@item.Id)" class="btn btn-primary btn-sm editbtn" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="fa fa-edit"></i>
                </button>
                <a href="/Master/DeleteMasterPackage/@item.Id" onclick="ajaxDelete(this)" class="btn btn-danger btn-sm deletbtn">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="3">No Records Found</td>
    </tr>
}