@using Whatsapp.Models
@using Whatsapp.Models.Data;
@model List<MasterServiceFeatures>
@if (Model != null && Model.Any())
{
    int i = 1;
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterService.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <button onclick="RenderForm(@item.FeatureID)" class="btn btn-primary btn-sm editbtn" data-toggle="modal" data-target="#exampleModalCenter">
                   <i class="fa fa-edit"></i>
                </button>
                <a href="/MasterServiceFeatures/Delete/@item.FeatureID" class="btn btn-danger btn-sm deletbtn">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        i++;
    }

}
else
{
    <tr>
        <td colspan="3">No Records Found</td>
    </tr>
}