@using Whatsapp.Models.Data;
@model IEnumerable<Package>
@if (Model != null && Model.Any())
{
    int i = 1;
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterPackageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <button onclick="RenderForm(@item.PackageID)" class="btn btn-primary btn-sm editbtn" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="fa fa-edit"></i>
                </button>
                <a href="/Master/DeletePackage/@item.PackageID" onclick="ajaxDelete(this)" class="btn btn-danger btn-sm deletbtn">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="3">No Records Found</td>
    </tr>
}